.header{
    background-color: #0C6DC0;
    height: 240px;
}

.div {
    display: flex;
    background-color: #0C6DC0;
    align-items: center;
    width: 100%;
}

.h1{
    color: #FFFFFF;
    text-align: center;
    font-size: 30px;
}

.divCurriculo {
    display: flex;
    justify-content: center;
}